@tailwind base;
@tailwind components;
@tailwind utilities;

.calendly-popup {
  max-height: 100vh !important;
  max-width: 998px !important;
}

.is-scrollLocked {
  overflow: hidden;
}

/* fix safari and mobile */
body {
  -webkit-overflow-scrolling: touch;
}

input::-webkit-date-and-time-value {
  height: 1.5em;
}
